<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog site</title>

    <style>
      * {
        margin: 0px;
        padding: 0px;
      }

      body {
        background-color: #f2f2f2;
        font-family: sans-serif;
      }

      .nav {
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
        box-shadow: 15px 2px 2px white;
        background-color: #1b324f;
        padding: 10px;
        height: 50px;
      }

      .head {
        font-size: 2.2rem;
        color: white;
        font-weight: 600;
        font-family: monospace;
        margin-left: 15px;
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .home {
        font-size: 2.2rem;
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
      }

      form {
        padding: 25px;
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
      }

      label {
        font-size: 2rem;
        margin-top: 15px;
      }

      .head2 {
        text-align: center;
        color: #fff;
        font-size: 2.2rem;
        font-weight: 500;
        margin-right: 40px;
      }

      .write {
        margin: 15px 0 10px;
        border: 2px solid white;
        border-radius: 10px;
        max-width: 100%;
        background-color: white;
        padding: 15px;
        box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
        font-size: 1.5rem;
      }

      #description,
      #markdown {
        height: 250px;
      }

      .btns {
        display: flex;
        margin-top: 10px;
      }

      .btn {
        font-size: 1.5em;
        padding: 10px;
        background-color: #4267b2;
        color: white;
        border: 2px solid white;
        border-radius: 8px;
        margin-top: 10px;
      }

      .btn:hover {
        background-color: rgb(16, 90, 16);
      }

      .btn-cancel {
        font-size: 1.5em;
        padding: 10px;
        background-color: grey;
        color: white;
        border: 2px solid white;
        border-radius: 8px;
        margin-top: 10px;
        margin-left: 10px;
      }

      .btn-cancel:hover {
        background-color: red;
      }

      .anchor {
        text-decoration: none;
        color: white;
      }

      @media screen and (max-width: 640px) {
        form {
          margin: 10px;
          padding: 0px;
        }
        .head {
          font-size: 1.5rem;
          margin-left: 0px;
        }
        .head2 {
          font-size: 1.5rem;
          margin-right: 15px;
        }
      }
    </style>
  </head>

  <body>
    <nav class="nav">
      <h1 class="head">Blog site</h1>

      <div class="icons">
        <!-- home -->

        <h1 class="head2">New Article</h1>
        <div class="dropdown">
          <a href="/feed" class="home"><i class="fas fa-home"></i></a>
        </div>
      </div>
    </nav>
    <form action="/save/<%= registeredUser.slugName %>" method="POST">
      <!-- new article -->
      <label for="title">Title:</label
      ><!-- title -->
      <input type="text" id="title" name="title" class="write" required />
      <label for="description">Headline:</label
      ><!-- headline/description -->
      <textarea
        type="text"
        class="write"
        name="description"
        id="description"
        required
      ></textarea>
      <label for="markdown">Description:</label
      ><!-- description/markdown -->
      <textarea
        type="text"
        class="write"
        name="markdown"
        id="markdown"
        required
      ></textarea>
      <div class="btns">
        <!-- buttons -->
        <button class="btn" type="submit">Save</button>
        <button class="btn-cancel" type="submit">
          <a
            class="anchor"
            href="/new-article/create/<%= registeredUser.slugName %>"
            >Cancel</a
          >
        </button>
      </div>
    </form>
  </body>
</html>
