<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog site</title>

    <style>
      body {
        font-family: sans-serif;
      }

      form {
        padding: 25px;
        display: flex;
        flex-direction: column;
        background-color: white;
      }

      label {
        font-size: 2rem;
        margin-top: 15px;
      }

      .head2 {
        text-align: center;
        color: black;
        font-size: 3rem;
        font-weight: 500;
        margin: 30px 0px 0px 0px;
      }

      .write {
        padding: 8px;
        width: 100%;
        border: 2px solid #7a7893;
        border-radius: 8px;
        font-size: 1.5rem;
        margin-top: 5px;
      }

      #description,
      #markdown {
        height: 250px;
      }

      .btns {
        display: flex;
        margin-top: 10px;
      }

      .btn {
        font-size: 1.5em;
        padding: 10px;
        background-color: #4267b2;
        color: white;
        border: 2px solid white;
        border-radius: 8px;
        margin-top: 10px;
      }
    </style>
  </head>

  <body>
    <h1 class="head2">Edit Article</h1>

    <form action="/<%= article.id %>?_method=PUT" method="POST">
      <label for="title">Title:</label
      ><!-- title -->
      <input
        type="text"
        id="title"
        name="title"
        value="<%= article.title %>"
        class="write"
        required
      />
      <label for="description">Description:</label
      ><!-- description -->
      <textarea
        type="text"
        class="write"
        name="description"
        id="description"
        required
      >
<%= article.description %></textarea
      >
      <label for="markdown">Markdown:</label
      ><!-- markdown -->
      <textarea
        type="text"
        class="write"
        name="markdown"
        id="markdown"
        required
      >
<%= article.markdown %></textarea
      >
      <div class="btns">
        <!-- buttons -->
        <button class="btn" type="submit">Update</button>
        <button
          class="btn"
          type="submit"
          style="background-color: grey; margin-left: 10px"
        >
          Cancel
        </button>
      </div>
    </form>
  </body>
</html>
