<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog site</title>

    <style>
      * {
        margin: 0px;
        padding: 0px;
      }

      body {
        font-family: sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url("https://i.pinimg.com/736x/6e/5a/9b/6e5a9b7514899500000d31e685c3e0a3.jpg");
      }

      .cont {
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.7);
      }

      .error {
        color: red;
        font-size: 1.5em;
        margin-bottom: 10px;
      }

      .form {
        width: 50%;
      }

      form {
        max-width: 500px;
        padding: 25px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        margin: auto;
      }

      .write {
        padding: 8px;
        max-width: 100%;
        border: 2px solid #fff;
        border-bottom: 2px solid gainsboro;
        background: #fff;
        border-radius: 6px;
        font-size: 1.5rem;
        margin-top: 20px;
      }

      .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px 0px;
      }

      .btn {
        font-size: 1.5em;
        padding: 10px 20px;
        background-color: #5dbd3e;
        color: white;
        border: 2px solid white;
        border-radius: 25px;
        margin: 10px 0px;
      }

      .btn:hover {
        background-color: rgb(16, 90, 16);
      }

      @media screen and (max-width: 640px) {
        body {
          height: 100%;
        }

        .cont {
          flex-direction: column;
          width: 100%;
          height: 100vh;
        }

        .form {
          width: 100%;
        }

        .write {
          font-size: 1.2rem;
        }

        .google {
          font-size: 14px;
        }

        form {
          margin: 10px;
          padding: 0px;
        }
      }
    </style>
  </head>

  <body>
    <div class="cont">
      <div class="form">
        <form action="/register" method="POST">
          <!--error messages-->
          <% if(typeof errors != 'undefined') { %> <%
          errors.forEach(function(error) { %>
          <p class="error"><%= error.msg %></p>
          <% }) %> <% } %>
          <!-- email -->
          <input
            type="text"
            class="write"
            name="name"
            id="name"
            placeholder="User-name..."
            required
          />
          <!-- password -->
          <input
            type="password"
            class="write"
            name="password"
            id="password"
            placeholder="password..."
            required
          />
          <!--confirm password -->
          <input
            type="password"
            class="write"
            name="password2"
            id="password2"
            placeholder="confirm password..."
            required
          />

          <!-- buttons -->
          <div class="btns">
            <button class="btn" type="submit">Register</button>
          </div>
        </form>
        <p
          style="
            font-size: 1.1rem;
            text-align: center;
            margin-bottom: 10px;
            color: white;
          "
        >
          Already have a account? <a href="/login"><strong>Login</strong></a>
        </p>
      </div>
    </div>
  </body>
</html>
